@media (max-width: 480px) {
  .t-store__card__descr {
    font-size: 14px !important;
    max-width: 42%;
    line-height: 1.3;
  }

  .t-store__card__btn {
    margin-bottom: 0 !important;
    padding: 0 12px !important;
    gap: 4px;
    height: 28px;
  }

  .uc-properties-store .t-store__card__descr::before {
    flex: none;
  }
}
